# =====================================
# Node & Frontend / Backend Dependencies
# =====================================
node_modules/
dist/
build/
.next/
out/
.cache/

# =====================================
# Python / ML Service
# =====================================
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.pt
*.onnx
*.pkl
!ml-service/app/model/*.pkl
/ml-service/training/data/
# =====================================
# Environment Secrets (Crucial)
# =====================================
.env
.env.*
!.env.example

# =====================================
# Logs & OS Files
# =====================================
*.log
npm-debug.log*
yarn-debug.log*
.DS_Store
.vscode/
.idea/
